body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #4caf4f;
}

.card {
    margin: 20px;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.alert-container {
    margin: 20px;
}

.recusa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
